* {
    margin: 0%;
    padding: 0%;
}



body {
    background:pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #F00758;
    color: pink;
    border-color: #F00758;
}
.btn:hover{
    color: #F00758;
    background-color: pink;
    border-color: pink;
}

.jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35vh;
    width: 70vh;
    align-self: center;
    background-image: url(./imagen.jpg);
}
.inicio {
        margin-top: 25vh;
}


form {
    display:flex;
    justify-content: center ;
    align-items: center;
    height: 30vh;
    width: 50vh;

}

.forminputs{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 25vh;
    font-size: 30px;
}